<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>COOKGOD</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/CookGodDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<filter>
		<filter-name>LoginBackEndFilter</filter-name>
		<filter-class>com.backEnd.filters.LoginBackEndFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginBackEndFilter</filter-name>
		<url-pattern>/back-end/ad/*</url-pattern>
		<url-pattern>/back-end/auth/*</url-pattern>
		<url-pattern>/back-end/chefDish/*</url-pattern>
		<url-pattern>/back-end/chefSch/*</url-pattern>
		<url-pattern>/back-end/cust/*</url-pattern>
		<url-pattern>/back-end/dish/*</url-pattern>
		<url-pattern>/back-end/dishFood/*</url-pattern>
		<url-pattern>/back-end/emp/*</url-pattern>
		<url-pattern>/back-end/festMenu/*</url-pattern>
		<url-pattern>/back-end/festOrder/*</url-pattern>
		<url-pattern>/back-end/festOrderDetail/*</url-pattern>
		<url-pattern>/back-end/food/*</url-pattern>
		<url-pattern>/back-end/foodMall/*</url-pattern>
		<url-pattern>/back-end/foodOrder/*</url-pattern>
		<url-pattern>/back-end/foodSup/*</url-pattern>
		<url-pattern>/back-end/forumArt/*</url-pattern>
		<url-pattern>/back-end/forumMsg/*</url-pattern>
		<url-pattern>/back-end/fun/*</url-pattern>
		<url-pattern>/back-end/menuDish/*</url-pattern>
		<url-pattern>/back-end/menuOrder/*</url-pattern>
		<url-pattern>/back-end/report/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>LoginFrontEndFilter</filter-name>
		<filter-class>com.frontEnd.filters.LoginFrontEndFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFrontEndFilter</filter-name>
		<url-pattern>/front-end/cust/*</url-pattern>
		<url-pattern>/front-end/foodOrder/addFoodOrder.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>LoginFrontFoodSupFilter</filter-name>
		<filter-class>com.frontEnd.filters.LoginFrontFoodSupFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFrontFoodSupFilter</filter-name>
		<url-pattern>/front-end/ad/*</url-pattern>
		<url-pattern>/front-end/FoodSup/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>LoginFrontChefFilter</filter-name>
		<filter-class>com.frontEnd.filters.LoginFrontChefFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFrontChefFilter</filter-name>
		<url-pattern>/front-end/chef/1</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	

	<servlet>
		<servlet-name>LoginFrontEnd</servlet-name>
		<servlet-class>com.login.LoginFrontEnd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginFrontEnd</servlet-name>
		<url-pattern>/front-end/login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginBackEnd</servlet-name>
		<servlet-class>com.login.LoginBackEnd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginBackEnd</servlet-name>
		<url-pattern>/back-end/login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.login.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutBack</servlet-name>
		<url-pattern>/back-end/logoutBack.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutBack</servlet-name>
		<servlet-class>com.login.LogoutBack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/back-endTemplate/logout.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.broadcast.controller.BroadcastWebSocket</listener-class>
	</listener>
	<listener>
		<listener-class>com.broadcast.controller.WebSocketForServlet</listener-class>
	</listener>
	<context-param>
		<param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
		<param-value>307200</param-value>
	</context-param>
	<servlet>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>com.food.controller.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/food/food.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustServlet</servlet-name>
		<servlet-class>com.cust.controller.CustServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustServlet</servlet-name>
		<url-pattern>/cust/cust.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>com.menu.controller.MenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/menu/menu.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MenuOrderServlet</servlet-name>
		<servlet-class>com.menuOrder.controller.MenuOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuOrderServlet</servlet-name>
		<url-pattern>/menuOrder/menuOrder.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChefSchServlet</servlet-name>
		<servlet-class>com.chefSch.controller.ChefSchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChefSchServlet</servlet-name>
		<url-pattern>/chefSch/chefSch.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChefDishServlet</servlet-name>
		<servlet-class>com.chefDish.controller.ChefDishServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChefDishServlet</servlet-name>
		<url-pattern>/chefDish/chefDish.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.report.controller.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/report/report.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FoodMallServlet</servlet-name>
		<servlet-class>com.foodMall.controller.FoodMallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodMallServlet</servlet-name>
		<url-pattern>/foodMall/foodMall.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FoodOrderServlet</servlet-name>
		<servlet-class>com.foodOrder.controller.FoodOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodOrderServlet</servlet-name>
		<url-pattern>/foodOrder/foodOrder.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FoodOrDetail</servlet-name>
		<servlet-class>com.foodOrDetail.controller.FoodOrDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodOrDetail</servlet-name>
		<url-pattern>/foodOrDetail/foodOrDetail.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FoodSupServlet</servlet-name>
		<servlet-class>com.foodSup.controller.FoodSupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodSupServlet</servlet-name>
		<url-pattern>/foodSup/foodSup.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FestOrderServlet</servlet-name>
		<servlet-class>com.festOrder.controller.FestOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FestOrderServlet</servlet-name>
		<url-pattern>/festOrder/festOrder.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FestOrderDetailServlet</servlet-name>
		<servlet-class>com.festOrderDetail.controller.FestOrderDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FestOrderDetailServlet</servlet-name>
		<url-pattern>/festOrderDetail/festOrderDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.emp.controller.EmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/emp/emp.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FunServlet</servlet-name>
		<servlet-class>com.fun.controller.FunServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FunServlet</servlet-name>
		<url-pattern>/fun/fun.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdServlet</servlet-name>
		<servlet-class>com.ad.controller.AdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdServlet</servlet-name>
		<url-pattern>/ad/ad.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.auth.controller.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth/auth.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FavFdSupServlet</servlet-name>
		<servlet-class>com.favFdSup.controller.FavFdSupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavFdSupServlet</servlet-name>
		<url-pattern>/favFdSup/favFdSup.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MallServlet</servlet-name>
		<servlet-class>com.mall.controller.MallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MallServlet</servlet-name>
		<url-pattern>/mall/mall.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BroadcastServlet</servlet-name>
		<servlet-class>com.broadcast.controller.BroadcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BroadcastServlet</servlet-name>
		<url-pattern>/broadcast/broadcast.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FestMenuServlet</servlet-name>
		<servlet-class>com.festMenu.controller.FestMenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FestMenuServlet</servlet-name>
		<url-pattern>/festMenu/festMenu.do</url-pattern>
	</servlet-mapping>
	
	    <servlet>
		    <servlet-name>ScheduleServlet</servlet-name>
		    <servlet-class>com.testuse.ScheduleServlet</servlet-class>
		    <load-on-startup>10</load-on-startup>
	  </servlet>
	  <servlet-mapping>
		    <servlet-name>ScheduleServlet</servlet-name>
		    <url-pattern>/ScheduleServlet</url-pattern>
	  </servlet-mapping>

	<servlet>
		<servlet-name>DishServlet</servlet-name>
		<servlet-class>com.dish.controller.DishServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DishServlet</servlet-name>
		<url-pattern>/dish/dish.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>DishFoodServlet</servlet-name>
	<servlet-class>com.dishFood.controller.DishFoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DishFoodServlet</servlet-name>
		<url-pattern>/dishFood/dishFood.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>MenuDishServlet</servlet-name>
    <servlet-class>com.menuDish.controller.MenuDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuDishServlet</servlet-name>
    <url-pattern>/menuDish/menuDish.do</url-pattern>
  </servlet-mapping>

</web-app>